{% block stylesheets %}
    <link href= "{{ assert("css/bootstrap.min.css") }}" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href= "{{ assert("css/font-awesome.min.css") }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ assert("css/style.css") }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}

{% endblock %}

{% block body %}
    {% include 'topMenu.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            {% if app.user %}
                {% if app.user.hasRole('actif') %}
                    <div class="col-sm-3 col-md-2 sidebar">
                        {% include 'leftMenu.html.twig' %}
                    </div>
                {% endif %}
            {% endif %}
            <div class="{% if app.user and app.user.hasRole('actif') %} col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 {% endif %} main">
                {% for flashMessage in app.session.flashbag.get('danger') %}<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ flashMessage }}</div>{% endfor %}
                {% for flashMessage in app.session.flashbag.get('warning') %}<div class="alert alert-warning alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ flashMessage }}</div>{% endfor %}
                {% for flashMessage in app.session.flashbag.get('success') %}<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ flashMessage }}</div>{% endfor %}
                {% for flashMessage in app.session.flashbag.get('info') %}<div class="alert alert-info alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ flashMessage }}</div>{% endfor %}
                <div class="row page-header"><h1>{% block contentTitle %}{% endblock %}</h1></div>
                <div class="row margin-top-20px">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}